.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  /* Adjust height as needed */
}

.slick-track {
  transition: transform 0.5s ease;
}

.hover-area {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust width as needed */
  z-index: 1;
  cursor: pointer;
}

.hover-area-left {
  left: 0;
}

.hover-area-right {
  right: 0;
}
