@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #978;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 20px;
  background-color: cornflowerblue;
}
