@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn-primary {
    @apply text-base rounded-md bg-slate-500 bg-primary-50 py-4 px-8 font-federo w-40 h-12;
  }
  .btn-play {
    @apply bg-white rounded-full w-16 h-16 flex justify-center items-center;
  }
  .btn-size {
    @apply rounded-[13px] font-federo text-black text-2xl  w-[100%] h-[54px]  border-[#000000];
    border: 2px solid #000000;
    &:hover,
    &:focus,
    &:active {
      @apply border-[#895C06] bg-[#FFEDCB];
    }
  }
}
.swiper-wrapper {
  max-width: 1400px !important;
}
.swiper-button-next {
  display: none !important;
}
.swiper-button-prev {
  display: none !important;
}
[type="text"]:focus {
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
