.menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateY(-120%);
  transition: translate 2s ease-in-out;
}
.openedMenu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateY(0);
  transition: translate 2s ease-in-out;
}
