@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 20px;
  background-color: cornflowerblue;
}
